@media(max-width: 700px) 
{
    .header
    {
      display: block;
      width: 100%;



    }
    .hero
    {
        display: block;
        position: absolute;
        top: 40px;
        left: 0px;
    }
    .menu
    {
        width: 200px;
        height: 400px;
        display:inline;
        position: absolute;
        top: 340px;
        left: 0px;
    }
    .main
    {
      width: 800px;
      display: inline-block;
      position: absolute;
      top: 340px;
      left: 200px;
    }
    .banner
    {
      width: 800px;
      display: inline-block;
      position: absolute;
      top: 540px;
      left: 200px;
    }
    .extra
    {
      display: inline;
      width: 400px;
      position: absolute;
      top: 640px;
      left: 200px;
    }
    .image
    {
      display: inline;
      width: 400px;
      position: absolute;
      top: 640px;
      left: 600px;
    }
    
   
}
@media(max-width: 400px) 
{
  .header
  {
    display: block;
    width: 100%;
  }
  .menu
  {
      width: 100%;
      display:block;
      position: absolute;
      top: 40px;
      left: 0px;
  }
  .hero
  {
      width: 100%;
      display:block;
      position: absolute;
      top: 140px;
      left: 0px;
  }
  .main
    {
      width: 100%;
      display: block;
      position: absolute;
      top: 440px;
      left: 0px;
    }
    .banner
    {
      width: 100%;
      display: block;
      position: absolute;
      top: 640px;
      left: 0px;
    }
    .extra
    {
      width: 100%;
      display: block;
      position: absolute;
      top: 740px;
      left: 0px;
    }
    .image
    {
      width: 100%;
      display: block;
      position: absolute;
      top: 8  40px;
      left: 0px;
    }
   
}